<div id="intro-banner"></div>

<nav class="sub-nav">
    <div class="container">
        <div class="col-md-8">
            <ul class="inline-list">
                <li><a ui-sref="recipes.breakfast">Breakfast</a></li>
                <li><a ui-sref="recipes.lunch">Lunch</a></li>
                <li><a ui-sref="recipes.beverages">Beverages</a></li>
                <li><a ui-sref="recipes.salads">Salads</a></li>
                <li><a ui-sref="recipes.main">Main</a></li>
                <li><a ui-sref="recipes.dessert">Dessert</a></li>
                <li><a ui-sref="recipes.entertaining">Entertaining</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <button class="button primary small" id="showRecipeInput">submit your flavour</button>
        </div>
    </div>
</nav>


<section id="recipe-submit-dropdown" style="display: none">
    <div class="container">
        <div class="row">
            <form role="form" name="recipeList" ng-submit="addRow($event)" novalidate>
                <div class="col-md-3">
                    <fieldset class="recipe-image-upload" id="upload" style="transition: transform 1s ease 0s;">
                        <p class="unloaded" style="display: none;">Please wait while we load the form…</p>

                        <p class="loaded">
                            <i class="fa fa-camera" aria-hidden="true"></i><br/>
                            Drag an image here or browse for an image to upload.
                        </p>
                        <input id="screenshot_file" size="30" style="display: none" name="screenshot[file]"
                               type="file">
                    </fieldset>
                    <p class="meta text-center">JPG, GIF or PNG. HelloFood shots are <strong>400×300</strong> pixels
                    </p>
                </div>

                <div class="col-md-6">
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Title
                                    <input type="text" name="title" ng-model="title">
                                </label>
                            </div>

                            <div class="col-xs-6">
                                <label>Created by<br/>
                                    <input type="text" name="created" ng-model="created"/>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <label>Release<br/>
                                    <input type="text" name="release" ng-model="release"/>
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label>Cooking time<br/>
                                    <select name="cooking" ng-model="cooking">
                                        <option value="10 Minutes">10 Minutes</option>
                                        <option value="20 Minutes">20 Minutes</option>
                                        <option value="30 Minutes">30 Minutes</option>
                                        <option value="45 Minutes">45 Minutes</option>
                                        <option value="60 Minutes">60 Minutes</option>
                                        <option value="90 Minutes">90 Minutes</option>
                                        <option value="120 Minutes">120 Minutes</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Type<br/>
                                    <select name="type" ng-model="type">
                                        <option value="breakfast">Breakfeast</option>
                                        <option value="lunch">Lunch</option>
                                        <option value="beverages">Beverages</option>
                                        <option value="salads">Salads</option>
                                        <option value="main">Main</option>
                                        <option value="sidedish">Side Dish</option>
                                        <option value="dessert">Dessert</option>
                                        <option value="entertaining">Entertaining</option>
                                    </select>
                                </label>
                            </div>

                            <div class="col-xs-6">
                                <label>Difficulty<br/>
                                    <select name="difficulty" ng-model="difficulty">
                                        <option value="Quick & Easy">Quick & Easy</option>
                                        <option value="Not to Tricky">Not to Tricky</option>
                                        <option value="A little challenging">A little challenging</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xs-6 col-md-12">
                            <label>Servings<br/>
                                <select name="servings" ng-model="servings">
                                    <option value="1">1 Servings</option>
                                    <option value="2">2 Servings</option>
                                    <option value="4">4 Servings</option>
                                    <option value="6">6 Servings</option>
                                    <option value="8">8 Servings</option>
                                    <option value="10">10 Servings</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <label for="upload">Upload Recipe
                                <input type="file" name="upload" id="upload"/>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" value="Submit" class="button primary expanded"
                                    ng-disabled="addRow.$invalid">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <p class="text-center small warning">*All fields are required to submit your Recipe</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div ui-view></div>
    </div>
</div>

<div class="container">
    <section class="title-intro">
        <div class="row">
            <div class="col-md-9">
                <h2>{{pageTitle}}</h2>
            </div>
            <div class="col-md-3">
                <input type="search" placeholder="search" class="search-bar">
            </div>
        </div>
    </section>

    <section class="recipe-list">
        <ul class="small-block-grid-1 medium-block-grid-2">
            <li class="recipe-list-input" ng-repeat="recipe in recipes" ng-show="recipe">
                <a href="#">
                    <div class="recipe-list-card">
                        <div class="col-md-2">
                            <div class="thumbnail">
                                <img src="dist/img/food-1.jpeg">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="recipe-list-header">
                                <div class="col-md-10">
                                    <div class="title">
                                        {{recipe.title}}
                                    </div>
                                    <div class="created">
                                        Created by {{recipe.created}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="date">{{recipe.release}}</div>
                                </div>
                            </div>

                            <div class="recipe-details recipe-list-main">
                                <div class="col-md-12">
                                    <ul class="inline-list">
                                        <li>
                                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                                            <time>{{recipe.cooking}}</time>
                                        </li>
                                        <li>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <difficulty>{{recipe.difficulty}}</difficulty>
                                        </li>
                                        <li>
                                            <span class="fa fa-cutlery" aria-hidden="true"></span>
                                            <serving>{{recipe.servings}}</serving>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</div>


<!--Latest Recipe & default recipe layout-->


<section class="title-intro white-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Special of the week</h2>
            </div>
        </div>
    </div>

</section>


<div id="recipe-single">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-lg-5 col-md-5 col-sm-6 col-sm-ls-7 recipe-header-left"
                 style="background: url(dist/img/recipe-decs-img.png);">

            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-sm-ls-5 single-recipe-details">
                <h1 class="hidden-xs" style="transition: transform 1s ease 0s;">Roast carrot and avocado salad with
                    orange and lemon dressing</h1>

                <div class="row">
                    <div class="col-md-12 hidden-xs">
                        <div class="recipe-intro"> “With loads of spices, seeds, yoghurt and a delicious citrus
                            dressing,
                            this avocado salad's a winner ”
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="recipe-details">
                            <ul class="small-block-grid-1 medium-block-grid-3">
                                <li>
                                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                                    <time>30 min</time>
                                </li>
                                <li>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <difficulty>Not to Tricky</difficulty>
                                </li>
                                <li>
                                    <span class="fa fa-cutlery" aria-hidden="true"></span>
                                    <serving>2</serving>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="nutrition-wrapper">
                            <p>Nutrition per serving</p>

                            <ul class="small-block-grid-3 medium-block-grid-8 nutrition-list">
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Calories</div>
                                        <div class="nutrition-item-top"> 433</div>
                                        <div class="nutrition-item-bottom"> 22%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Fat</div>
                                        <div class="nutrition-item-top"> 33g</div>
                                        <div class="nutrition-item-bottom"> 47%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Saturates</div>
                                        <div class="nutrition-item-top"> 6g</div>
                                        <div class="nutrition-item-bottom"> 30%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Protein</div>
                                        <div class="nutrition-item-top"> 9.5g</div>
                                        <div class="nutrition-item-bottom"> 21%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Carbs</div>
                                        <div class="nutrition-item-top"> 25.9g</div>
                                        <div class="nutrition-item-bottom"> 10%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Sugar</div>
                                        <div class="nutrition-item-top"> 14.1g</div>
                                        <div class="nutrition-item-bottom"> 16%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Salt</div>
                                        <div class="nutrition-item-top"> 1.14g</div>
                                        <div class="nutrition-item-bottom"> 24%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nutrition-item">
                                        <div class="nutrition-item-desc"> Fibre</div>
                                        <div class="nutrition-item-top"> 7.8g</div>
                                        <div class="nutrition-item-bottom"> -</div>
                                    </div>
                                </li>

                            </ul>
                            <p>Of an adult's reference intake</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="recipe-ingredients">
                            <h3>Ingredients</h3>
                            <ul class="ingred-list">
                                <li> 500 g medium differently coloured carrots , with their leafy tops</li>
                                <li> 2 level teaspoons whole cumin seeds</li>
                                <li> 1-2 small dried chillies</li>
                                <li> sea salt , crumbled</li>
                                <li> freshly ground black pepper</li>
                                <li> 2 cloves garlic , peeled</li>
                                <li> 4 sprigs fresh thyme , leaves picked</li>
                                <li> extra virgin olive oil</li>
                                <li> red or white wine vinegar</li>
                                <li> 1 orange , halved</li>
                                <li> 1 lemon , halved</li>
                                <li> 3 ripe avocados</li>
                                <li> red wine vinegar</li>
                                <li> 4 x 1 cm thick slices ciabatta or other good-quality bread</li>
                                <li> 2 handfuls mixed winter salad leaves (like Treviso, rocket, radicchio or
                                    cavolo nero tops) , washed and spun dry
                                </li>
                                <li> 2 punnets cress</li>
                                <li> 150 ml fat-free natural yoghurt</li>
                                <li> 4 tablespoons mixed seeds , toasted</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="recipe-instructions">
                            <h3>Method</h3>
                            <ol class="recipeSteps">
                                <li>
                                    <i>If you’re going to use cooked carrots
                                        in a salad you’ve got to make it with some attitude! This fantastic
                                        Moroccan-style salad combines roast carrots with avocados – and because they
                                        have the same texture in your mouth, I thought I’d add the chargrilled flavour
                                        and crunch of toasted ciabatta to round things off. With spices, seeds, yoghurt
                                        and a delicious citrus dressing, you’ve got a winner. </i>
                                </li>
                                <br/>
                                <li>
                                    Preheat the oven to 180°C/350°F/gas 4. Parboil your carrots in boiling, salted water
                                    for 10 minutes, until they are very nearly cooked, then drain and put them into a
                                    roasting tray. You should flavour them while they’re steaming hot, so while the
                                    carrots are cooking get a pestle and mortar and smash up the cumin seeds, chillies,
                                    salt and pepper. Add the garlic and thyme leaves and smash up again until you have a
                                    kind of paste. The idea here is to build up the flavours. Add enough extra virgin
                                    olive oil to generously cover the paste, and a good swig of vinegar. This will be
                                    like a marinade, a rub and a dressing all in one! Stir together, then pour over the
                                    carrots in the tray, coating them well. Add the orange and lemon halves, cut-side
                                    down. These will roast along with the carrots, and their juice can be used as the
                                    basis of the dressing. Place in the preheated oven for 25 to 30 minutes, or until
                                    golden.
                                    <br>
                                    While the carrots are roasting, halve and peel your avocados, discarding the stones,
                                    then cut them into wedges lengthways and place in a big bowl. Remove the carrots
                                    from the oven and add them to the avocados. Carefully, using some tongs, squeeze the
                                    roasted orange and lemon juice into a bowl and add the same amount of extra virgin
                                    olive oil and a little swig of red wine vinegar. Season, and pour this dressing over
                                    the carrots and avocados. Mix together, have a taste and correct the seasoning. Call
                                    your gang round the table while you toast or griddle your ciabatta slices.
                                </li>
                                <br/>
                                <li>Tear the toasted bread into little pieces and add to the dressed carrot and avocado.
                                    Mix together, toss in the salad leaves and cress and transfer to a big platter or
                                    divide between individual plates. Spoon over a nice dollop of yoghurt, sprinkle over
                                    your toasted seeds and drizzle over some extra virgin olive oil.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#showRecipeInput').click(function () {
            $('#recipe-submit-dropdown').toggle("slide");
        });
    });
</script>