@import "util/normalize";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  @include disable-mouse-outline;
}

:-moz-focusring:not(input):not(button):not(select):not(textarea):not(iframe):not(frame):not(body):not(html) {
  outline: none !important;
  @include disable-mouse-outline;

}

body {
  width: 100%;
  min-height: 100%;
  background-position: top center;
  background-size: 100%;
  background-color: $body-background;
  font-family: $body-font-family;
  font-size: $global-font-size;
  color: $body-font-color;
  font-weight: 300;
  line-height: $paragraph-lineheight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@media screen and (max-width: 640px) {
  body {
    font-size: $global-font-size - 20;
  }
}

a {
  text-decoration: none;
  color: $dark-gray;
}

ul.inline-list {
  margin: 0;
  padding: 0;
}

ul.inline-list li {
  display: inline;
  list-style-type: none;

}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

input {
  width: 100%;
}

//Global Styels

section {
  padding: $global-padding * 4 0;
}

//typography
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  color: $secondary-color;
  letter-spacing: $letter-spacing;
}



//Top Nav

.header {
  background-color: $white;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding: 1em 0;
  height: 80px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

  .logo {
    background-image: url("../img/logo-dark.png");
    background-repeat: no-repeat;
    background-size: 200px 40px;
    width: 200px;
    display: block;
    height: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

  }

  ul.menu {
    padding-top: 0px;
    list-style: none;
    margin-bottom: 2em;
    float: right;
  }

  .menu > li {
    display: inline;
    padding-right: 30px;
  }
}

.header-shrink {
  background-color: $white;
  height: 50px;
  padding: 0.5em 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .logo {
    background-image: url("../img/logo-dark.png");

    background-size: 140px auto;
    width: 150px;
    height: 40px;

  }

  ul.menu {
    margin: 5px 0;
  }

  .menu > li {
    a {
      color: $primary-color;
      &:before {
        background-color: $primary-color;
      }
    }
  }
}

.header ul.menu > li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (max-width: 55em) {
  .header, .header-shrink {
    height: 50px;
    padding: 0.7em 0;

    .logo {
      background-size: 140px auto;
      width: 150px;
      height: 40px;
    }
  }
}

.scroll-block {
  z-index: 1111;
  width: 100%;
  height: 100px;
  text-align: center;
  display: block;
  position: relative;
  bottom: 50px;
  font-size: 30px;
  line-height: 75px;
  background: url("../img/scroll-arrow.png") no-repeat center;

  .fa-angle-down {
    color: $primary-color;
    @include text-shadow();
  }
}

nav.sub-nav {
  border-top: 1px solid $light-gray;
  height: 50px;
  width: 100%;
  background-color: $white;
  ul.inline-list li {
    padding: 10px;
    line-height: 45px;

    a {
      color: $primary-color;
      @include text-shadow ($color: rgba(255, 255, 255, 0.3));

    }
  }
  button {
    @include hover-underline ();
    margin: 5px 0 !important;
    float: right;
  }
}

//Hero Banner
#hero {
  background-color: $primary-color;
  background-size: cover !important;
  background-position: center left;
  width: 100%;
  height: 100vh;
  display: block;

  .text-area {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    color: $white;

    h1 {
      margin-bottom: 1rem;
      line-height: 1;
      color: $white;
      font-size: 80px;
    }

    a.btn {
      margin-top: 2em;
    }
  }
}

//Home Page

section#recipe-intro {
  p {
    font-family: $body-font-family-italic;
  }
}

//Internal banner

#intro-banner {
  background-color: $black;
  background-size: cover !important;
  background-position: center left;
  width: 100%;
  height: 80px;
  display: block;

  .text-area {
    height: 30vh;
    display: table-cell;
    vertical-align: middle;
    color: $white;

    h1 {
      margin-bottom: 1rem;
      line-height: 1;
      color: $white;
      font-size: 50px;
    }

    a.btn {
      margin-top: 2em;
    }
  }
}

//Title-intro

section.title-intro {
  .search-bar {
    margin-top: 20px;
  }
}

//Footer

footer {
  background-color: $white;
  width: 100%;
  display: block;
  padding: 50px 0;

  .footer-logo {
    img {
      max-height: 30px;
    }
  }
  .social-media ul.inline-list li {
    margin-left: 5px;
    margin-right: 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

