<div id="intro-banner" style="background: url(vendor/img/hero-banners/home/intro-banner.png);">
    <div class="container">
        <div class="row">
            <div class="text-area">
                <h1>{{hero}}</h1>
            </div>
        </div>
    </div>
</div>

<nav class="sub-nav">
    <div class="container">
        <div class="col-md-8">
            <ul class="inline-list">
                <li><a href="#!/breakfast">Breakfast</a></li>
                <li><a href="#!/lunch">Lunch</a></li>
                <li><a href="#!/beverages">Beverages</a></li>
                <li><a href="#!/salads">Salads</a></li>
                <li><a href="#!/main">Main</a></li>
                <li><a href="#!/sidedish">Side Dish</a></li>
                <li><a href="#!/dessert">Dessert</a></li>
                <li><a href="#!/entertaining">Entertaining</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <button class="button primary small hollow" id="showRecipeInput">submit your flavour</button>
        </div>
    </div>
</nav>


<section id="recipe-submit-dropdown" style="display: none">

    <div class="container">
        <div class="row">
            <form role="form" name="recipeList" ng-submit="addRow($event)" novalidate>
                <div class="col-md-3">
                    <fieldset class="recipe-image-upload" id="upload" style="transition: transform 1s ease 0s;">
                        <p class="unloaded" style="display: none;">Please wait while we load the form…</p>

                        <p class="loaded">
                            <i class="fa fa-camera" aria-hidden="true"></i><br/>
                            Drag an image here or browse for an image to upload.
                        </p>
                        <input id="screenshot_file" size="30" style="display: none" name="screenshot[file]"
                               type="file">
                    </fieldset>
                    <p class="meta text-center">JPG, GIF or PNG. HelloFood shots are <strong>400×300</strong> pixels
                    </p>
                </div>

                <div class="col-md-6">
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Title
                                    <input type="text" name="title" ng-model="title">
                                </label>
                            </div>

                            <div class="col-xs-6">
                                <label>Created by<br/>
                                    <input type="text" name="created" ng-model="created"/>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <label>Release<br/>
                                    <input type="text" name="release" ng-model="release"/>
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label>Cooking time<br/>
                                    <select name="cooking" ng-model="cooking">
                                        <option value="10 Minutes">10 Minutes</option>
                                        <option value="20 Minutes">20 Minutes</option>
                                        <option value="30 Minutes">30 Minutes</option>
                                        <option value="45 Minutes">45 Minutes</option>
                                        <option value="60 Minutes">60 Minutes</option>
                                        <option value="90 Minutes">90 Minutes</option>
                                        <option value="120 Minutes">120 Minutes</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Type<br/>
                                    <select name="type" ng-model="type">
                                        <option value="breakfast">Breakfeast</option>
                                        <option value="lunch">Lunch</option>
                                        <option value="beverages">Beverages</option>
                                        <option value="salads">Salads</option>
                                        <option value="main">Main</option>
                                        <option value="sidedish">Side Dish</option>
                                        <option value="dessert">Dessert</option>
                                        <option value="entertaining">Entertaining</option>
                                    </select>
                                </label>
                            </div>

                            <div class="col-xs-6">
                                <label>Difficulty<br/>
                                    <select name="difficulty" ng-model="difficulty">
                                        <option value="Quick & Easy">Quick & Easy</option>
                                        <option value="Not to Tricky">Not to Tricky</option>
                                        <option value="A little challenging">A little challenging</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xs-6 col-md-12">
                            <label>Servings<br/>
                                <select name="servings" ng-model="servings">
                                    <option value="1">1 Servings</option>
                                    <option value="2">2 Servings</option>
                                    <option value="4">4 Servings</option>
                                    <option value="6">6 Servings</option>
                                    <option value="8">8 Servings</option>
                                    <option value="10">10 Servings</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <label for="upload">Upload Recipe
                            <input type="file" name="upload" id="upload"/>
                                </label>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" value="Submit" class="button primary expanded"
                                    ng-disabled="addRow.$invalid">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <p class="text-center small">*All fields are required to submit your Recipe</p>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <section>
        <div class="row">
            <div class="col-md-9">
                <h2>{{pageTitle}}</h2>
            </div>
            <div class="col-md-3">
                <input type="search" placeholder="search">
            </div>
        </div>
    </section>

    <section class="recipe-list">
        <ul class="small-block-grid-1 medium-block-grid-2">

            <li>
                <div class="recipe-list-card">
                    <div class="col-md-2">
                        <div class="img-thumbnail">ss</div>
                    </div>
                    <div class="col-md-10">
                        <div class="recipe-list-header">
                            <div class="col-md-10">
                                <div class="title">
                                    Breakfast Doughnuts
                                </div>
                                <div class="created">
                                    Created by HelloFood
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="date">07 Aug 2017</div>
                            </div>
                        </div>

                        <div class="recipe-list-main">
                            <div class="col-md-12">
                                <ul class="inline-list">
                                    <li>
                                        <span class="fa fa-clock-o" aria-hidden="true"></span>
                                        <time>35 Minutes</time>
                                    </li>
                                    <li>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <difficulty>Not to Tricky</difficulty>
                                    </li>
                                    <li>
                                        <span class="fa fa-cutlery" aria-hidden="true"></span>
                                        <serving>4</serving>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="recipe-list-input" ng-repeat="recipe in recipes">
                <div class="recipe-list-card">
                    <div class="col-md-2">
                        <div class="img-thumbnail">ss</div>
                    </div>
                    <div class="col-md-10">
                        <div class="recipe-list-header">
                            <div class="col-md-10">
                                <div class="title">
                                    {{recipe.title}}
                                </div>
                                <div class="created">
                                    Created by {{recipe.created}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="date">{{recipe.release}}</div>
                            </div>
                        </div>

                        <div class="recipe-list-main">
                            <div class="col-md-12">
                                <ul class="inline-list">
                                    <li>
                                        <span class="fa fa-clock-o" aria-hidden="true"></span>
                                        <time>{{recipe.cooking}}</time>
                                    </li>
                                    <li>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <difficulty>{{recipe.difficulty}}</difficulty>
                                    </li>
                                    <li>
                                        <span class="fa fa-cutlery" aria-hidden="true"></span>
                                        <serving>{{recipe.servings}}</serving>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>


<script>
     $(document).ready(function() {
        $('#showRecipeInput').click(function() {
                $('#recipe-submit-dropdown').toggle("slide");
        });
    });
</script>