<header class="header">
    <div class=" container">
        <a ui-sref="intro">
            <div class="header__logo"></div>
        </a>

        <ul class="menu">
            <li><a ui-sref="intro" title="HellFood home page">Intro</a></li>
            <li><a ui-sref="recipes.latest" title="Latest Recipes">Recipes</a></li>
            <li><a ui-sref="gallery" title="Gallery view">Gallery</a></li>
            <li><a ui-sref="contact" title="Stay intouch">Contact</a></li>
        </ul>

        <a href="#" class="header__icon" id="header__icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>